#logout {
  background-color: skyblue;
  font-weight: 700;
  color: blue;
  border-bottom: 2px solid aqua;
}
#login{
background-color: skyblue;
  font-weight: 700;
  color: blue;
  border-bottom: 2px solid aqua;
}

